@model IEnumerable<InvoiceManager.Models.Domains.Product>

@{
    ViewBag.Title = "Produkty";
}

<h1 class="mb-3">Produkty</h1>

<button class="btn btn-primary mb-3"
        onclick='window.location.href="@Url.Action("Product", "Product")"'>
    <i class="fas fa-user"></i> Dodaj produkt
</button>

@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col" class="col-8">Nazwa</th>
                <th scope="col" class="col-2">Wartość</th>
                <th scope="col" class="col-2"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        <a class="font-weight-bold"
                           href="@Url.Action( "Product", "Product",
                                     new { id = product.Id })">
                            @product.Name
                        </a>
                    </td>
                    <td>@product.Value PLN</td>
                    <td>
                        <button class="btn btn-danger btn-sm"
                                onclick="deleteClient('@product.Id', this)">
                            <i class="fas fa-trash-alt"></i> Usuń
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div>
        Brak produktów do wyświetlenia.
    </div>
}

@section Scripts
{
    <script type="text/javascript">

        function deleteClient(id, btn) {

            if (!confirm("Czy na pewno chcesz usunąć produkt?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("Delete", "Product")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.Success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    } else {
                        alert("Produkt istnieje jako pozycja na fakturze!");
                    }
                },
                error: function (data) {
                    alert("Produkt istnieje jako pozycja na fakturze!");
                },
                dataType: 'json'
            });
        }

    </script>
}