@model InvoiceManager.Models.Domains.Product

<h1 class="mb-3">@ViewBag.Title</h1>


@using (Html.BeginForm("Product", "Product"))
{
    @Html.AntiForgeryToken()

    if (Model.Id == 0)
    {
        <p class="alert alert-info mt-4 mb-4">
            Pola nazwa, wartość są
            <strong>wymagane</strong>.
        </p>

    }

    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name,
            new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Value)
        @Html.TextBoxFor(x => x.Value,
            new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Value)
    </div>

    <button class="btn btn-primary btn-lg mb-5" type="submit">
        <i class="fas fa-save"></i> Zapisz
    </button>
}

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
            }

        });

    </script>
}
