@model InvoiceManager.Models.Domains.Client

<h1 class="mb-3">@ViewBag.Title</h1>


@using (Html.BeginForm("Client", "Client"))
{
    @Html.AntiForgeryToken()

    if (Model.Id == 0)
    {
        <p class="alert alert-info mt-4 mb-4">
            Pola nazwa, e-mail, ulica, numer lokalu, kod pocztowy miasto są
            <strong>wymagane</strong>.
        </p>

    }

    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.UserId)

    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name,
            new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Nip)
        @Html.TextBoxFor(x => x.Nip,
            new { @class = "form-control", autofocus = "autofocus" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email,
            new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.Address.Street)
        @Html.TextBoxFor(x => x.Address.Street,
            new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Address.Street)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Address.Number)
        @Html.TextBoxFor(x => x.Address.Number,
            new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Address.Number)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Address.PostalCode)
        @Html.TextBoxFor(x => x.Address.PostalCode,
            new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Address.PostalCode)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Address.City)
        @Html.TextBoxFor(x => x.Address.City,
            new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Address.City)
    </div>

    <button class="btn btn-primary btn-lg mb-5" type="submit">
        <i class="fas fa-save"></i> Zapisz
    </button>
}