@using System.Collections.Specialized
@model InvoiceManager.Models.Domains.Invoice

@{
    ViewBag.Title = "Faktura";
}

<link href="@Url.Content("~/Content/PrintInvoice.css")" rel="stylesheet" type="text/css" />

<div class="invoice-font">

    <div class="row">
        <div class="col-12 header-font">
            <div>Faktura</div>
            <div>Nr @Model.Title</div>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-5">
            <img src="@Url.Content("~/Content/Images/cyber_centre_logo.png")" alt="logo" class="logo" />
        </div>

        <div class="col-4 offset-3">
            <div class="top-line">
                <div class="top-small-caption">
                    Data sprzedaży:
                </div>
                <div>
                    @Model.CratedDate.ToString("dd-MM-yyyy")
                </div>
            </div>
            <div class="top-line">
                <div class="top-small-caption">
                    Termin sprzedaży:
                </div>
                <div>
                    @Model.PaymentDate.ToString("dd-MM-yyyy")
                </div>
            </div>
            <div class="top-line">
                <div class="top-small-caption">
                    Sposób zapłaty:
                </div>
                <div>
                    @Model.MethodOfPayment.Name
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-5">
            <div class="top-line">
                <div class="top-small-caption">
                    Sprzedawca:
                </div>
                <div>@Model.User.Name</div>
                <div>@Model.User.Address.Street @Model.User.Address.Number</div>
                <div>@Model.User.Address.PostalCode @Model.User.Address.City</div>
 
                @if (!Model.User.Nip.IsEmpty())
                {
                    <div>NIP: @Model.User.Nip</div>
                }

            </div>
        </div>
        <div class="col-5 offset-2">
            <div class="top-line">
                <div class="top-small-caption">
                    Nabywca:
                </div>
                <div>@Model.Client.Name</div>
                <div>@Model.Client.Address.Street @Model.Client.Address.Number</div>
                <div>@Model.Client.Address.PostalCode @Model.Client.Address.City</div>

                @if (!Model.Client.Nip.IsEmpty())
                {
                    <div>NIP: @Model.Client.Nip</div>
                }

            </div>
        </div>
    </div>

    <table class="table table-bordered mt-5 mb-5">
        <thead>
            <tr>
                <th>Lp</th>
                <th>Produkt</th>
                <th>Ilość</th>
                <th>Wartość</th>
            </tr>
        </thead>
        <tbody>

        @foreach (var position in Model.InvoicePositions)
        {
            <tr>
                <td>@position.Lp</td>
                <td>@position.Product.Name</td>
                <td>@position.Quantity</td>
                <td>@position.Value PLN</td>
            </tr>
        }

        </tbody>
        <tfoot>

            <tr>
                <td colspan="3">RAZEM DO ZAPŁATY</td>
                <td class="font-weight-bolder"><strong>@Model.Value PLN</strong></td>
            </tr>

        </tfoot>
    </table>

    <div class="row mt-0 mb-5">
        <div class="col-12">

            @if (!string.IsNullOrWhiteSpace(Model.Comments))
            {
                <div class="text-left top-line padding-top-bottom-25px bottom-line"><strong>Uwagi:</strong> @Model.Comments</div>
            }

        </div>
    </div>

    <div class="row">
        <div class="col-5 bordered-signature align-bottom">
            <div class="margin-top-100px">@Model.Client.Name</div>
            <div class="singnature-description">Osoba upoważniona do odbioru dokumentu</div>
        </div>
        <div class="col-5 offset-2 bordered-signature">
            <div class="margin-top-100px">@Model.User.Name</div>
            <div class="singnature-description">Osoba upoważniona do wystawienia dokumentu</div>
        </div>
    </div>

</div>
